<!DOCTYPE html>

<!-- 

  1.写一个获取评论数据的接口
      1.1 这个接口需要传2个参数
          pageIndex：页码
          pageSize:  页容量

      1.2 要准备sql语句，一张comments表不够，要连表查询，连posts表，用什么条件连接？用c.post_id = p.id
          并且要c.status != 'trashed' 代表查出所有没被删除的评论
          最后加limit分页

      1.3 查出结果，转成JSON输出


  2.当本页面（comments.html）加载完毕后，发送一个请求，请求上面写的接口
      2.1 此时拿到响应体后，要把数据展现到界面上
      2.2 所以先导入模板
      2.3 再准备模板 
            2.3.1 先随便找一行tr复制进来
            2.3.2 做一个遍历，数组有多少个元素就创建多少个tr
            2.3.3 把数据都展现到对应的td里
            2.3.4 查出来的状态是英文，应该做对应的判断
                    如果是 approved 要显示为已批准
                    如果是 rejected 要显示为已拒绝
                    如果是 held 要显示为待审核
            2.3.5 待审核的那一行要变红，所以判断如果状态为held，那么给tr加class为danger，否则不加

            2.3.6 给每行对应的操作按钮，但是删除这个按钮所有行都要给
                      左边的那个按钮，要么给批准，要么给拒绝，要么就什么都不给

                      判断条件： 状态为 approved 就给一个拒绝的操作按钮 (btn-warning)
                                状态为 held 就给一个批准的操作按钮 （用一个类叫 btn-info）
                                其他什么都不给

            2.3.7 去head里写一个样式，让所有的th和td，的max-width:420px;

      2.4 调用模板


  3.显示出所有页码
    3.1 修改getComments这个接口，让它除了能返回数据外还能返回总页数
    3.2 先查出所有的评论数据（就是之前的那条Sql语句不加limit），得到总数据量
    3.3 用ceil(总数据量 / 页容量)得到总页数
    3.4 因为分页数据和总页数都要当响应体返回，因此先把之前输出分页数据的代码删掉或者注释掉，然后把分页数据和总页数拼成一个关联型数组，再把这个关联型数组转成JSON输出
    3.5 回到comments.html文件，在拿到响应体后，生成tr模板那里，把obj改为obj.data
    3.6 准备一个生成页码的模板，调用这个模板并生成显示到ul里


  4.完成除了上一页和下一页以外的所有页码点击事件
     4.1 先把之前发送请求拿到响应体后生成tr和页码模板的代码封装到一个函数内，函数名叫loadData
     4.2 封装函数后，得到一个好处：我要查询的页码可以不用写死，而是当做形参传入，调用函数时，传入1，代表查第1页，传入2代表查第2页，因此loadData接收一个形参page，发请求时查的页码改成page
     4.3 页面一打开就应该调用这个函数，传入1，代表页面一打开先查第1页数据
     4.4 修改生成页码的模板，在每个li标签的a标签href里改成 javascript:loadData({{ i }}); 代表哪个页码被点击，就查第几页数据
     4.5 此时实现了点击不同页码加载不同的数据，但是，没有让当前页高亮，因此修改模板，在生成li里面判断，如果i等于page，那么就让这个li加一个class="active"，否则不加。然后在调用页码模板的地方，告诉模板里的page 是 page这个变量的值

  5.完成上一页和下一页的点击
     上一页：当前页-1
     下一页：当前页+1

    下一页要做判断，如果当前页 == 最后一页（也就是总页数），就跳到第一页
    上一页要做判断，如果当前页 == 1 就跳到最后一页


  6.完成单行修改评论
      6.1 先写一个修改评论的接口，这个接口里用 "update comments set status='状态' where id in ( id列表 )"的语句，并且这个接口接收2个参数，一个是status状态，一个是ids要修改的id

      6.2 因为接口里的sql语句既可以操作单行也可以操作多行，所以这个接口可以给单行用也可以给批量用

      6.3 给单行中的“批准”、“拒绝”、“删除”加行内点击事件，并在行内点击事件里传入自己对应的状态和id

      6.4 完成行内点击事件的函数，在函数里去请求上面写的接口传递状态和id作为请求的参数

      6.5 在响应完成里，判断是否为ok，如果是ok，刷新当前页
            6.5.1 先准备一个全局变量在loadData里记录当前页
            6.5.2 在修改完成里，调用loadData，传入这个全局变量


  7.完成批量修改评论
      思路：要想做批量操作，就需要先获取到被选中的数据的id，因此需要先在模板里把id存到每一个checkbox的value里，然后找到被选中的checkbox遍历它们取到id，拼接到一起

      7.1 给批量的三个按钮加行内点击事件，行内点击事件传入自己对应的状态，例如： onclick="doBatch('approved')"
      7.2 去生成tr的模板里，修改模板，把每行的id存到checkbox的value属性里
      7.3 在批量操作的行内点击事件的函数里，先获得所有tbody下面被选中的checkbox，然后遍历它们，取到value值也就是每个id，拼接成字符串，每个id之间用逗号隔开（记得遍历完毕清除最后一个逗号）
      7.4 去发请求，传入对应的状态和id
      7.5 响应完成里，做判断
              如果 当前页是最后一页 并且 操作是删除 并且是全选
                    就刷新 当前页 -1
              否则
                    刷新当前页
-->

<html lang="zh-CN">

<head>
  <!-- 应该在刚刚访问页面的时候就先发一个请求去判断有没有登录,按ctrl+f5，跳过缓存来刷新  -->
  <script>
    var xhr = new XMLHttpRequest();
    // 参数3：是否异步，true代表异步，false为同步
    // 为什么同步？因为我们需要等待服务器告诉我们又没有登录，我们再决定要不要解析后面的HTML代码
    xhr.open('get', 'api/checkLogin.php', false);

    xhr.onreadystatechange = function () {

      if (xhr.readyState == 4 && xhr.status == 200) {

        //响应体解析成JS对象
        var obj = JSON.parse(xhr.responseText);

        //可以用code判断也可以用msg判断，自己选
        if (obj.code != 0) {

          //就代表没有登录过，应该打回登录页面
          location = "login.html";
        }
      }
    }
    //发送请求
    xhr.send();

  </script>
  <meta charset="utf-8">
  <title>Comments &laquo; Admin</title>
  <link rel="stylesheet" href="../assets/vendors/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../assets/vendors/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="../assets/vendors/nprogress/nprogress.css">
  <link rel="stylesheet" href="../assets/css/admin.css">
  <script src="../assets/vendors/nprogress/nprogress.js"></script>

  <style>
    td{
      max-width: 420px;
    }
  </style>
</head>

<body>
  <script>NProgress.start()</script>

  <div class="main">
    <nav class="navbar">
      <button class="btn btn-default navbar-btn fa fa-bars"></button>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="profile.html"><i class="fa fa-user"></i>个人中心</a></li>
        <li><a href="api/doLogout.php"><i class="fa fa-sign-out"></i>退出</a></li>
      </ul>
    </nav>
    <div class="container-fluid">
      <div class="page-title">
        <h1>所有评论</h1>
      </div>
      <!-- 有错误信息时展示 -->
      <!-- <div class="alert alert-danger">
        <strong>错误！</strong>发生XXX错误
      </div> -->
      <div class="page-action">
        <!-- show when multiple checked -->
        <div class="btn-batch" style="display: none">
          <button onclick="doBatch('approved');" class="btn btn-info btn-sm">批量批准</button>
          <button onclick="doBatch('rejected');" class="btn btn-warning btn-sm">批量拒绝</button>
          <button onclick="doBatch('trashed');" class="btn btn-danger btn-sm">批量删除</button>
        </div>
        <ul class="pagination pagination-sm pull-right">
          <li><a href="#">上一页</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">下一页</a></li>
        </ul>
      </div>
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th class="text-center" width="40"><input type="checkbox"></th>
            <th>作者</th>
            <th>评论</th>
            <th>评论在</th>
            <th>提交于</th>
            <th>状态</th>
            <th class="text-center" width="100">操作</th>
          </tr>
        </thead>
        <tbody>
          <tr class="danger">
            <td class="text-center"><input type="checkbox"></td>
            <td>大大</td>
            <td>楼主好人，顶一个</td>
            <td>《Hello world》</td>
            <td>2016/10/07</td>
            <td>未批准</td>
            <td class="text-center">
              <a href="post-add.html" class="btn btn-info btn-xs">批准</a>
              <a href="javascript:;" class="btn btn-danger btn-xs">删除</a>
            </td>
          </tr>
          <tr>
            <td class="text-center"><input type="checkbox"></td>
            <td>大大</td>
            <td>楼主好人，顶一个</td>
            <td>《Hello world》</td>
            <td>2016/10/07</td>
            <td>已批准</td>
            <td class="text-center">
              <a href="post-add.html" class="btn btn-warning btn-xs">驳回</a>
              <a href="javascript:;" class="btn btn-danger btn-xs">删除</a>
            </td>
          </tr>
          <tr>
            <td class="text-center"><input type="checkbox"></td>
            <td>大大</td>
            <td>楼主好人，顶一个</td>
            <td>《Hello world》</td>
            <td>2016/10/07</td>
            <td>已批准</td>
            <td class="text-center">
              <a href="post-add.html" class="btn btn-warning btn-xs">驳回</a>
              <a href="javascript:;" class="btn btn-danger btn-xs">删除</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="aside">
    <div class="profile">
      <img class="avatar" src="../uploads/avatar.jpg">
      <h3 class="name">布头儿</h3>
    </div>
    <ul class="nav">
      <li>
        <a href="index.html"><i class="fa fa-dashboard"></i>仪表盘</a>
      </li>
      <li>
        <a href="#menu-posts" class="collapsed" data-toggle="collapse">
          <i class="fa fa-thumb-tack"></i>文章<i class="fa fa-angle-right"></i>
        </a>
        <ul id="menu-posts" class="collapse">
          <li><a href="posts.html">所有文章</a></li>
          <li><a href="post-add.html">写文章</a></li>
          <li><a href="categories.html">分类目录</a></li>
        </ul>
      </li>
      <li class="active">
        <a href="comments.html"><i class="fa fa-comments"></i>评论</a>
      </li>
      <li>
        <a href="users.html"><i class="fa fa-users"></i>用户</a>
      </li>
      <li>
        <a href="#menu-settings" class="collapsed" data-toggle="collapse">
          <i class="fa fa-cogs"></i>设置<i class="fa fa-angle-right"></i>
        </a>
        <ul id="menu-settings" class="collapse">
          <li><a href="nav-menus.html">导航菜单</a></li>
          <li><a href="slides.html">图片轮播</a></li>
          <li><a href="settings.html">网站设置</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <script src="../assets/vendors/jquery/jquery.js"></script>
  <script src="../assets/vendors/bootstrap/js/bootstrap.js"></script>
  <script>NProgress.done()</script>
</body>

</html>

<!-- 导入模板 -->
<script src="../assets/vendors/template-web.js"></script>
<!-- 准备数据模板 -->
<script type="text/html" id="tplTr">

{{ each list value }}

{{ if value.status == 'held' }}
  <tr class="danger">
{{ else }}
  <tr>
{{ /if }}
      <td class="text-center"><input type="checkbox" value="{{value.id}}"></td>
      <td>{{value.author}}</td>
      <td>{{value.content}}</td>
      <td>《{{value.title}}》</td>
      <td>{{value.created}}</td>
    {{ if value.status == 'approved' }}
      <td>已批准</td>
    {{ else if value.status == 'rejected' }}
      <td>已拒绝</td>
    {{ else }}
      <td>待审核</td>
    {{ /if }}
      <td class="text-center">

      {{ if value.status == "approved" }}
        <a href="javascript:editTr('rejected',{{ value.id }});" class="btn btn-warning btn-xs">拒绝</a>
      {{ else if value.status == 'held' }}
        <a href="javascript:editTr('approved',{{ value.id }});" class="btn btn-info btn-xs">批准</a>
      {{ /if }}

        <a href="javascript:editTr('trashed',{{ value.id }});" class="btn btn-danger btn-xs">删除</a>

      </td>
    </tr>

{{ /each }}

</script>

<!-- 准备生成页码的模板 -->
<script type="text/html" id="tplPage">

{{ if page != 1 }}
  <li><a href="javascript:loadData( {{ page - 1 }})">上一页</a></li>
{{ else }}
  <li><a href="javascript:loadData( {{ totalPages }})">上一页</a></li>
{{ /if }}

<% for( var i = 1; i <= totalPages; i++){ %>

{{ if i == page }}
  <li class="active">
{{ else }}
  <li>
{{ /if }}
    <a href="javascript:loadData({{i}})">{{ i }}</a></li>

<% } %>
 
{{ if page != totalPages }}
  <li><a href="javascript:loadData({{ page + 1 }})">下一页</a></li>
{{ else }}
  <li><a href="javascript:loadData(1)">下一页</a></li>
{{ /if }}

</script>


<script>

  //声明一个全局变量保存当前页
  var globalPage, totalPages;

  function loadData(page) {

    //记录当前页
    globalPage = page;

    //发起一个请求
    $.get({

      url: "api/getComments.php",
      data: { pageIndex: page, pageSize: 10 },
      dataType: "json",
      success: function (obj) {

        //全局变量记录总页数
        totalPages = obj.totalPages;

        console.log(obj);
        //调用模板生成tr
        var html = template('tplTr', { list: obj.data });
        $('tbody').html(html);

        //调用模板生成页码
        var html = template('tplPage', { totalPages: obj.totalPages, page: page });
        $('.pagination').html(html);
      }
    });

    //jQuery1.12以前支持的写法
    // $.get("url",'参数','回调函数','告诉jQuery响应体是什么类型')
  }

  loadData(1);


  //给全选加一个点击事件(thead 下面的checkbox就是全选)
  $('thead :checkbox').click(function () {

    // console.log(this.checked);
    //全选为true下面都为true，全选为false下面都为false
    $('tbody :checkbox').prop('checked', this.checked);

    if (this.checked) {

      //批量操作显示出来
      $('.btn-batch').fadeIn();

    } else {

      //批量操作隐藏起来
      $('.btn-batch').fadeOut();
    }

  });


  //给tbody的checkbox加点击事件
  $('tbody').on('click', ':checkbox', function () {

    //拿到所有被选中的checkbox再跟总数量进行比较
    // if( $('tbody :checked').length == $('tbody :checkbox').length ){

    //   $('thead :checkbox').prop('checked',true);

    // }else{

    //   $('thead :checkbox').prop('checked',false);
    // }

    //下面这句话相对于上面那一坨话
    $('thead :checkbox').prop('checked', $('tbody :checked').length == $('tbody :checkbox').length);


    //只要有一个被选中就让批量操作显示出来
    if ($('tbody :checked').length > 0) {

      $('.btn-batch').fadeIn();

    } else {

      $('.btn-batch').fadeOut();
    }

  });


  //行内点击事件
  function editTr(st, id) {


    //发起一个修改评论接口的请求
    $.post({

      url: "api/updateComments.php",
      dataType: "json",
      data: { status: st, ids: id },
      success: function (obj) {

        if (obj.msg == 'ok') {

          //修改成功
          // location.reload();

          //如果是最后一页，而且是删除，而且只有一行
          if (globalPage == totalPages && st == 'trashed' && $('tbody tr').length == 1)
            //刷新上一页
            loadData(globalPage - 1);
          else
            // 刷新当前页
            loadData(globalPage);

        } else {

          //修改失败
          alert('修改失败！');
        }
      }
    });
  }

  //批量操作的点击事件
  function doBatch(st) {

    //我们为了拿到被选中的id，所以先把每行的id存在checkbox里
    //那么我们找到被选中的checkbox，就能找到它们各自对应的id了
    // console.log($('tbody :checked'));

    //准备用来拼接id的变量，记得一定要赋值为空字符串，否则它的值是undefined，那你后面是用undefined开始拼接
    var str = "";
    $('tbody :checked').each(function (index, ele) {

      //ele就是被遍历到的每个元素
      // console.log(ele.value);

      str += ele.value + ",";
    });

    //从下标0开始截取，截取的长度是原来的字符串-1个，那么就把最后一个逗号去掉了
    str = str.substr(0, str.length - 1);

    $.post({

      url: "api/updateComments.php",
      data: { status: st, ids: str },
      dataType: "json",
      success: function (obj) {

        if (obj.msg == "ok") {

          //如果是最后一页，而且是删除，而且是全部删除，都要刷新上一页
          if (globalPage == totalPages && st == 'trashed' && $('thead :checked').length > 0)
            loadData(globalPage - 1);
          else
            //刷新当前页
            loadData(globalPage);

          //取消全选
          $('thead :checkbox').prop('checked', false);
          //隐藏批量操作
          $('.btn-batch').fadeOut();

        } else {

          alert('修改失败！');
        }
      }
    });
  }

</script>